body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
  /*  text-transform: uppercase;*/
    
    margin-bottom: 20px;
}

